@charset "utf-8";
/* CSS Document */

/* ::::::::::::::: Basics ::::::::::::::: */
/** Body **/
body {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;	
	margin-right: 0px;		
}

/** Links **/
a {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;		
	font-weight: bold;
 	cursor: pointer; /** cursor: hand; does not work for all the browsers **/
  	text-decoration: none;
}
a:link {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
 	cursor: pointer; /** cursor: hand; does not work for all the browsers **/
  	text-decoration: none;
}
a:visited {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
 	cursor: pointer; /** cursor: hand; does not work for all the browsers **/
  	text-decoration: none;
}
a:hover {
	color: #666; /* of Groen */
	text-decoration: underline;
	cursor: pointer;
}
a:active {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
 	cursor: pointer; /** cursor: hand; does not work for all the browsers **/
  	text-decoration: none;
}

/* ::::::::::::::: Widgets ::::::::::::::: */
/** -- Button -- **/
.gwt-Button {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
 	text-decoration: none;
 	cursor: pointer;
 	cursor: hand;
	border-style: none;
	background-color: white;
	display: inline-block; 
	vertical-align:middle; 
	line-height:23px;
	height: 23px;
}
.gwt-Button:active {
	color: #531a17;
}
.gwt-Button:hover {
	color: #666;
	text-decoration: underline;
}
.gwt-Button[disabled] {
  color: #666;
  cursor: default;
  text-decoration: none;
}
.adminButton {	
	border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;			
}
.adminButton:hover {
	text-decoration: none;
}
.AssignControlButton {
	font-size: 10px;
	height: 23px;
	width:23px;
}
/* Used specifically for the ExportPanel */
.buttonSizedEnabled {
	background: #FFFFFF;
 	color: #666666;
 	font-size: 9px;
	height: 19px;
 	border: 1px solid #bbbbbb; 	
 	cursor: hand;
  	cursor: pointer;
  	display: inline-block; 
	vertical-align:middle; 
	line-height:19px;
}
.buttonSizedDisabled {
	background: #FFFFFF;
 	color: #bbbbbb;
 	font-size: 9px;
	height: 19px;
 	border: 1px solid #bbbbbb; 	
  	display: inline-block; 
	vertical-align:middle; 
	line-height:19px;
}

/** -- PushButton -- **/
.gwt-PushButton {
	background-color: white;
	border-color: white;
} 
.gwt-PushButton-up {
  padding: 2px;
  background-color: white;
  cursor: pointer;
  cursor: hand;
} 
.gwt-PushButton-up-hovering {
  padding: 2px;
  background-color: white;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-disabled {
  padding: 2px;
  background-color: white;
  cursor: default;
  opacity: 0.5;
}
.gwt-PushButton-up-disabled .gwt-Image {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.gwt-PushButton-down {
  padding: 2px 1px 2px 3px;
  background-color: white;
  border: 2px solid #848280;
  border-right: 2px solid #faf9f7;
  border-bottom: 2px solid #faf9f7;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-hovering {
  padding: 2px 1px 2px 3px;
  background-color: white;
  border: 2px solid #848280;
  border-right: 2px solid #faf9f7;
  border-bottom: 2px solid #faf9f7;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-disabled {
  padding: 2px 1px 2px 3px;
  background-color: white;
  border: 2px solid #e7e4e0;
  border-right: 2px solid #625b54;
  border-bottom: 2px solid #625b54;
  cursor: default;
  opacity: 0.5;
}
.gwt-PushButton-down-disabled .gwt-Image {
  filter: alpha(opacity=30);
}
.splitterButton {
    vertical-align				:	middle;
    cursor                      :   hand;
    cursor                      :   pointer;
}

/** -- RadioButton -- **/
.gwt-RadioButton {
  padding: 4px 4px 3px 3px;
  font-size: 11px;
}
.gwt-RadioButton-disabled {
  color: #888;
}

/** -- CheckBox -- **/
.gwt-CheckBox {
	/*color: #531a17;*/
	color: black;
	font-size: 11px;
}
.gwt-CheckBox-disabled {
  color: #888;
}

/** -- DialogBox -- **/
.gwt-DialogBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
  	border: 1px solid silver;
  	background: white;
}
.gwt-DialogBox .Caption {
  background: #e3e8f3 url(images/bg_headergradient.gif) repeat-x;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border: 1px solid #FFFFFF;
  font-size: 12px;
}
.gwt-DialogBox .Content {
	background: white;
	vertical-align: middle;
	text-align: left;
	padding: 10px;
}
.gwt-DialogBox .Content table {
  filter: alpha(opacity=100); /* Fixes rendering issues in IE7 */
}

/** -- DisclosurePanel -- **/
.gwt-DisclosurePanel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
  	border: 1px solid #531a17;
  	border-style: solid;
  	background: white;
	padding: 5px;
}
.gwt-DisclosurePanel a {
  text-decoration: none;  /* Remove underline from header */ 
}
.gwt-DisclosurePanel-open {
  	background: white;
}
.gwt-DisclosurePanel-closed {
}
.gwt-DisclosurePanel .header {
}
.gwt-DisclosurePanel .content {
	background: white;
	vertical-align: middle;
	text-align: left;
	padding: 10px;
	filter: alpha(opacity=100);
}

/** -- HTML -- **/
.gwt-HTML {
	color: black;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
  	text-decoration: none;  		
	text-align: left;
}

/** -- Label -- **/
.gwt-Label {
	color: #531a17;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;	
  	text-decoration: none;
  	text-align: left;  	
}

/** The following are text elements and can be applied to Labels or HTML **/
.titleLabel {		
	font-size: 24px;	
	padding-left: 15px;
}
.labelTextBold {
	font-weight: bold;	
}
.plainLabelText {	
	color: #000000;	
}
.labelTextSmall {
	font-size: 10px;	
}
.headingLabel {	
	background-color: #e5e5e5;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: silver;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: silver;
	border-right-style: solid;
	border-right-width: 1px;
}
.highlightText {	
	font-family: Arial, Helvetica, sans-serif;	
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	/** Dark Green (recommended) **/
	/** color: #006631; **/
	
	/** Dark Orange (requested) **/
	/** color: #F6821F; **/
	
	/** One shade darker **/
	color: #e3781d;
}
.browsingText {
}
.browsingText:hover {
	color: #666;	
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
}
.browsingText:disabled {
	color: #666;
	text-decoration: none;
	cursor: default;
	font-weight: bold;
}
.HTMLplainTextTitle {	
	font-weight: bold;
	font-size: 14px;
}

/** -- Image -- **/
.gwt-Image {
}

/** -- Listbox -- **/
.gwt-ListBox {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
  	text-decoration: none;
}
.gwt-ListBox-disabled {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
  	text-decoration: none;
}

/** -- TextBox -- **/
.gwt-TextBox {
  padding: 2px;
  font-size: 11px;
}
.gwt-TextBox-readonly {
  color: #888;
}
.fieldPanelControlFont {
	font-style: italic;
	color: #505050; 
}
/* Used specifically for the ExportPanel */
.textboxSizedEnabled {
	border: 1px dotted #bbbbbb;		
	width: 180px;	
}
.textboxSizedDisabled {
	border: 1px solid #bbbbbb;
	width: 180px;		
}

/** -- PasswordTextBox -- **/
.gwt-PasswordTextBox {
  padding: 2px;
  font-size: 11px;
}
.gwt-PasswordTextBox-readonly {
  color: #888;
}

/** -- TextArea -- **/
.gwt-TextArea {
  padding: 2px;
  font-size: 11px;
}
.gwt-TextArea-readonly {
  color: #888;
}

/** -- StackPanel -- **/
.gwt-StackPanel {
  border-spacing: 0px;
  border: 1px solid #666666;
}
.gwt-StackPanel .gwt-StackPanelItem {
  font-weight: bold;
  font-size: 11px;
  background: #e3e8f3 url(images/bg_headergradient.gif) repeat-x;
  color: #666666;
  border: 1px solid #e3e8f3;
  padding: 5px 3px 5px 10px;
  cursor: pointer;
  cursor: hand;
}
.gwt-StackPanel .gwt-StackPanelItem-selected {
  color: black;
  cursor: default;
}
.gwt-StackPanel .gwt-StackPanelContent {
  padding: 2px 2px 10px 5px;
}

/** -- Tree -- **/
.gwt-Tree {
  background: white;
}
.gwt-Tree .gwt-TreeItem-wrapper {
  margin: 0px 0px 0px 20px;  
}
.gwt-Tree .gwt-TreeItem {
  padding: 0px;
  margin: 0px;
  border: 1px solid white;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
  font-size: 11px;
}
.gwt-Tree .gwt-TreeItem-hovering {
}
.gwt-Tree .gwt-TreeItem-selected {
  background: #93c2f1 url(images/bg_listgradient.gif) repeat-x;
  border: 1px dotted #888;
}
.indexFieldPanel {
	border-top-color: silver;
	border-top-style: double;
	border-bottom-color: silver;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

/** -- DatePicker -- **/
.gwt-DatePicker {
  border: 1px solid #A2BBDD;
  cursor: default;
}
.gwt-DatePicker td, .datePickerMonthSelector td:focus {
  outline: none
}
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay, .datePickerWeekdayLabel, .datePickerWeekendLabel {
  font-family: Franklin Gothic Medium, Verdana, Arial;	
  font-size: 11px;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel, .datePickerWeekendLabel {
  background: #C3D9FF;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #aaccee;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #fddc70;
}
.datePickerDayIsValueAndHighlighted {
  background: #fddc70;
}
.datePickerMonthSelector {
  background: #f23636;
  width: 100%;
}
.datePickerPreviousButton, .datePickerNextButton {
  font-size: 11px;
  line-height: 1em;
  color: white;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
	border: solid 1px black;
}

.footer {	
	background: #FFFFFF;
	border: 1px dashed silver; 	
 	z-index: 0;  	
 	width: 100%;
 	vertical-align: middle;
}

/* Termbrowser control bar (LEFT) */
.controlBar {	
	background: #FFFFFF;
	border-left: 1px solid silver;
	border-top:  1px solid silver;
	border-bottom: 1px solid silver;
 	height: 23px;  	 	
 	z-index: 1;  			
}

/* Termbrowser info bar (RIGHT) */
.InfoBar {	
	background: #FFFFFF;
	border-right: 1px solid silver;
	border-top:  1px solid silver;
	border-bottom: 1px solid silver;	
 	height: 23px;   	
 	z-index: 0;  	
}

/** AttachedPanel and AttachedPopupPanel **/
.AttachedPanel {
	background-color: #FFFFFF;	
	border-right: 1px solid #531a17;
	border-left: 1px solid #531a17;
	border-bottom: 1px solid #531a17;
	border-top: 1px dotted #531a17;	
}
	
/** ExpanderPanel **/
.boxHeadingPanel {
	padding: 10px;
	color: black;	
 	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px; 
	vertical-align: middle;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.boxContentPanel {
	padding: 10px;
	vertical-align: top;
	text-align: left;
}
.searchResultsPanelOpen {
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	vertical-align: top;
	text-align: left;
	margin-right: 10px;
}
.searchResultsPanelClosed {
	border-width: 0px;
	vertical-align: top;
	text-align: left;
	margin-right: 0px;	
}

/** TermBrowser miscellaneous styles **/
.contentBlock {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
} 
.contentSubblock {
	background-color: #FFFFFF;
	padding-left: 20px;
}
.synonymblock {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-left: 20px;
	border-top-color: silver;
	border-top-width: 1px;
	border-top-style: dashed;
}
.contentSubSubblock {
	background-color: #FFFFFF;
	padding-left: 40px;
}
.paddedBottom {
	padding-bottom: 10px;
}
.paddedTop {
	padding-top:10px;
}
.spacerBlock {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 6px;
	color: #00FFFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.rightPadded {
	padding-right: 6px;
}
.auditTrailPopup {
	color: black;
	background-color: #fdfce6;
	padding: 5px;
	border: 1px solid gray;
}
.picScale {
	max-height: 300;
	max-width: 300;
}
.bottomBordered {
	border-bottom: 1px dotted gray;
}
.termbrowser_repeat {
	background-image:url('images/repeated_termbrowser.png');
}
/** TermBrowser FieldsPalette **/
.fieldsPalette {
	background-color: #ffffff;
	border: 1px solid #000000;
}
	
/** ProjectPanel Listbox **/
.projectListBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #531a17;
	font-weight: bold;
	text-align: left;
	border-color: silver;
	border-style: dotted;
	
	list-style: circle;
}

/** ExportPanel styles **/
.exportPanelFlexTableLabelCell {
	vertical-align:top;
	width:150px;	
	word-wrap:break-word;
} 
.exportPanelFlexTableListBoxCell {
	align:right;
	width:330px;
}
.exportPanelFlexTableRow {
	height: 20px;
}

/** Administration Interface miscellaneous styles **/
.silverBordered {
	border-width: 1px;
	border-color: silver;
	border-style: solid;	
}
.noBorder {
	border-style: none;
}
.tabHeading {
	border-bottom-style: solid;
	border-bottom-color: "#e8e8e8";
	border-bottom-width: 1px;
	vertical-align: middle;	
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.admin_repeat {
	background-image:url('images/repeated_admin.png');
}

/** Administrator FieldsPalette **/
.gridLeftCellBorder {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: silver;
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: silver;
}
.gridRightCellBorder {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: silver;
}
.gridLastLeftCellBorder {
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: silver;
}
.cursorPointer {
	cursor: pointer;
}

/** Common miscellaneous styles **/
.borderedBlock {
	border-top-color: silver;
	border-top-width: 1px;
	border-top-style: dashed;
	padding: 5px;
}
.recordBorderedBlock {
	border-top-color: silver;
	border-top-width: 1px;
	border-top-style: dashed;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.hyperLink {
	color: #531a17;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
 	cursor: pointer; /** cursor: hand; does not work for all the browsers **/
  	text-decoration: none;
}
.hyperLink:hover {
	color: #666;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}
.hyperLink:disabled {
	color: #666;
	text-decoration: none;
	cursor: default;
	font-weight: bold;
}	
.focussed {
	background-color: #c9e2ec;
}
.wordwrap {
	word-wrap: break-word;
}
